<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="about-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
    </style>
    
    <marked-element>
      <div class="markdown-html"></div>
      <script type="text/markdown">
        #About me
        
      </script>
    </marked-element>

  </template>
  <script>
    Polymer({
       is: "about-view",
    });
  </script>
</dom-module>