<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-query.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">

<link rel="import" href="../datastores/quiver-store-behavior.html">
<link rel="import" href="../firebase-behavior/firebase-behavior.html">
<link rel="import" href="../timer-behavior/timer-defaults.html">
<link rel="import" href="../digital-clock/digital-clock.html">
<link rel="import" href="../shared-styles.html">

<script src="../../bower_components/js-yaml/dist/js-yaml.min.js"></script>

<dom-module id="admin-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        --paper-input-container-color: var(--color-rich-black);
        --paper-input-container-focus-color: var(--color-metallic-seaweed);
        --paper-input-container-input-color: var(--color-rich-black);
      }

      .list {
        padding: 1rem !important;
        width: calc(100% - 4rem) !important;
      }

      iron-list {
        height: 50vh;
      }

      .padding-bottom {
        padding-bottom: 1rem;
      }
    </style>

    <firebase-query id="timers" app="[[firebase]]" path="[[timersPath]]" data="{{timers}}"></firebase-query>

    <paper-material elevation="1" class="list">
      <div class="layout horizontal justified wrap padding-bottom">
        <h3>Default Timers</h3>
        <div class="flex layout horizontal end-justified center">
          <a href="/docs/timer.yaml" target="_blank" download>
            <iron-icon icon="file-download"></iron-icon>
          </a>    
          <input id="timersInput" is="iron-input" type="file" multiple on-change="processTimers">
          <label for="timersInput">
            <paper-button class="primary" raised>Upload</paper-button>
          </label>
        </div>
      </div>
      
      <iron-list items="[[timers]]" as="timer">
        <template>
        <paper-item>
          <paper-item-body two-line>
            <div class="layout horizontal justified center">
              <strong>[[timer.name]]</strong>
              <paper-icon-button key$="[[timer.$key]]" icon="delete" on-click="deleteTimer"></paper-icon-button>  
            </div>
            <div secondary>
              <span>[[timer.periods.length]] periods / <digital-clock total-seconds="[[timer.totalSeconds]]"></digital-clock></span>
            </div>
          </paper-item-body>
        </paper-item>
       </template>
      </iron-list>
      
    </paper-material>

    <paper-material elevation="1" class="list">

      <h3>Tags</h3>

      <form is="iron-form" id="form">
        <div class="layout horizontal">
          <paper-input id="newTag" class="flex" label="New tag" value="{{newTag}}" type="text"></paper-input>
          <paper-button on-click="addTag">Add</paper-button>  
        </div>
      </form>

      <iron-list items="[[tags]]" as="tag">
        <template>
        <paper-item class="layout horizontal justified">
          <span>[[tag.value]]</span>
          <paper-icon-button key$="[[tag.$key]]" icon="delete" on-click="deleteTag"></paper-icon-button>
        </paper-item>
       </template>
      </iron-list>
    </paper-material>

  </template>
  <script>
    Polymer({
      is: "admin-view",

      behaviors: [QuiverStoreBehavior, FirebaseBehavior],

      properties: {
        firebase: Object,
        model: Object,
        account: {
          type: Object,
          statePath: 'account'  
        },
        tagsRef: {
          type: Object,
          computed: '_tagsRef(firebase, model)'
        },
        tags: {
          type: Array,
          statePath: 'tags'
        },
        timersPath: {
          type: String,
          computed: '_timersPath(model)'
        },
        timersRef: {
          type: Object,
          computed: '_timersRef(firebase, timersPath)'
        },
        timers: {
          type: Array,
          value: []
        }
      },

      // Observers
      observers: [
        '_timers(timersRef)'
      ],

      _tagsRef: function(firebase, model) {
        return firebase.database().ref(model.public.tags);
      },

      _timersPath: function(model) {
        return this.replaceWildcard(model.user.owned.state, 'uid', '--uploads') + '/timers';
      },

      _timersRef: function(firebase, timersPath) {
        return firebase.database().ref(timersPath);
      },

      _timers: function(timersRef) {
        timersRef.on('value', function(snap) {
          
        }.bind(this));
      },

      addTag: function(tag) {
        var tagRef = this.tagsRef.push(typeof tag == 'string' ? tag : this.newTag);
        this.newTag = '';
        this.$.newTag.focus();
        return tagRef;
      },

      deleteTag: function(e) {
        return this.tagsRef.child(e.target.getAttribute('key')).remove();
      },

      updateTags: function (tags) {
        this.dispatch({
          type: 'updateTag',
          tags: tags
        });
      },

      processTimers: function(e) {
        var files = this.$.timersInput.files;
        var i = files.length;
        var promises = [];

        while (i--) {
          promises.push(this.processTimer(files[i]));
        }

        return Promise.all(promises)
          .then(function(timers) {
            return Promise.all(timers.map(this.saveTimer.bind(this)));
          }.bind(this))
          .catch(function(err) {
            this.fire('error', err);
          }.bind(this));
      },

      processTimer: function(file) {
        return new Promise(function(resolve, reject) {
          var reader = new FileReader();

          reader.onload = function(e) {
            try {
              var timer = jsyaml.safeLoad(reader.result);
              timer.displayName = this.account.displayName;
              timer.email = this.account.email;
              timer.totalSeconds = timer.periods.reduce(function(s, period) {
                return s + period.totalSeconds;
              }, 0);
              timer.updated = Date.now();
              timer._tags = timer.tags.slice(0);
              timer.tags = timer._tags.reduce(function(tags, t) {
                var tag = this.tags.find(function(tag) {
                  return t == tag.value;
                });
                if (!tag) {
                  var tagRef = this.addTag(t);
                  tags[tagRef.key] = t;
                } else {
                  tags[tag.$key] = tag.value;
                }
                return tags;
              }.bind(this), {});
              timer.slug = this.getSlug(timer, timer._tags); // Must be done before the remapping of the tags
              timer.owned = true;

              if (timer.periods[0].type !== 'prepare') {
                timer.periods.unshift(TimerDefaults.periods.prepare);
              }

              timer.periods = timer.periods.map(function(period, i) {
                var result;
                if (i == 0 && period.type !== 'prepare') {
                  throw new Error('First period must have type "prepare"');
                } else if (i == 0) {
                  result = TimerDefaults.periods.prepare;
                } else if (!TimerDefaults.periods[period.type]) {
                  throw new Error('First period must have a valid type');
                } else {
                  result = TimerDefaults.periods[period.type];
                }

                result.totalSeconds = period.totalSeconds;
                result.name = period.name;
                result.description = period.description || null;
                result.minutes = Math.floor(result.totalSeconds/60);
                result.seconds = result.totalSeconds - (result.minutes * 60);
                return result;
              });

              resolve(timer);
            } catch (e) {
              reject(e);
            }
          }.bind(this);

          reader.readAsText(file, 'utf8');
        }.bind(this));
      },

      saveTimer: function(timer) {
        return this.timersRef.child('--' + timer.slug).set(timer);
      },

      deleteTimer: function(e) {
        return this.timersRef.child(e.target.getAttribute('key')).remove();
      },
    });
  </script>
</dom-module>