<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../shared-styles.html">
<link rel="import" href="../color-wheel.html">
<link rel="import" href="../timer-behavior/timer-defaults.html">
<link rel="import" href="../digital-clock/digital-clock.html">
<link rel="import" href="../configure-timer/configure-period.html">

<script src="../../bower_components/lodash/lodash.js"></script>

<dom-module id="configure-view">
  <template>
    <style include="shared-styles color-wheel">
      :host {
        display: block;
      }
      
      #buttons {
        @apply(--layout-horizontal);
        @apply(--layout-justified);
        @apply(--layout-wrap);
      }
      
      #buttons paper-button {
        @apply(--layout-flex);
      }
      
      
    </style>

    <app-route route="{{localRoute}}" pattern="/:timerKey" data="{{routeData}}" tail="{{subroute}}"></app-route>
    <app-localstorage-document id="timersStorage" key="timers" data="{{timers}}"></app-localstorage-document>
    <app-localstorage-document id="nameStorage" key="editing-name" data="{{editingName}}" zero-value=""></app-localstorage-document>
    <app-localstorage-document id="periodsStorage" key="editing-periods" data="{{periodsStorage}}" zero-value="[]"></app-localstorage-document>

    <template id="periods" is="dom-repeat" items="[[periods]]" as="period">
      <configure-period period="{{period}}" on-period-updated="updatePeriodHandler" index="[[index]]" periods-count="[[periods.length]]"></configure-period>
    </template>
    <div id="buttons" style="margin: .5rem 1rem; padding: .5rem 1rem;">
      <!--<paper-button raised class="primary" on-click="addWork">+ Work</paper-button>
      <paper-button raised class="secondary" on-click="addRest">+ Rest</paper-button>
      <paper-button raised class="tertiary" on-click="addStopwatch">+ Stopwatch</paper-button>-->
      <paper-icon-button icon="hourglass-empty" on-click="addWork"></paper-icon-button>
      <paper-icon-button icon="av:pause-circle-outline" on-click="addRest"></paper-icon-button>
      <paper-icon-button icon="custom:stopwatch" on-click="addStopwatch"></paper-icon-button>
    </div>
  </template>
  <script>
    Polymer({
      is: "configure-view",

      behaviors: [TimerDefaults],

      properties: {
        localRoute: Object,
        title: {
          type: String,
          notify: true,
          computed: '_title(name)'
        },
        timers: {
          type: Array,
          value: []
        },
        editingName: {
          type: String,
          value: 'Timer'
        },
        periods: {
          type: Array,
          value: []
        },
        periodsStorage: {
          type: Array,
          value: []
        },
        selected: {
          type: Array,
          value: [],
          notify: true
        },
        showSheet: {
          type: Boolean,
          computed: '_showSheet(periods, periods.splices)',
          notify: true
        },
        sheetPayload: {
          type: Object,
          computed: '_sheetPayload(showSheet)',
          notify: true
        }
      },

      attached: function() { 
        var loadPeriodStorage = function(e) {
          if (!this.periods.length < 2 && e.detail.value.length) {
            this.periods = e.detail.value;
          }
          this.$.periodsStorage.removeEventListener('data-changed', loadPeriodStorage);
        }.bind(this);
        this.$.periodsStorage.addEventListener('data-changed', loadPeriodStorage);
      },

      _title: function(name) {
        return name;
      },

      // Observers
      observers: [
        '_setEditing(routeData.timerKey)',
        '_periods(periods, periods.splices)'
      ],

      _setEditing: function(timerKey) {
        if (this.timers[timerKey]) {
          this.set('name', timers[timerKey].name);
          this.set('periods', timers[timerKey].periods);  
        }

        if (!this.periods.length) this.addPeriod('prepare'); 
      },

      _periods: function(periods) {
        this.periodsStorage = periods;
        this.$.periodsStorage.save('editing-periods');
      },

      _showSheet: function(periods) {
        return !!periods.find(function(period) {
          return period.selected;
        });
      },

      _sheetPayload: function() {
        return {
          cancel: this.clearSelected.bind(this),
          duplicate: this.duplicateSelected.bind(this),
          delete: this.deleteSelected.bind(this),
        };
      },

      // Listeners
      listeners: {
        moveUp: 'moveUp',
        moveDown: 'moveDown',
        delete: 'delete',
        select: 'select'
      },

      moveUp: function(e) {
        if (e.detail < 1) return console.log('skipping up');
        var index = e.detail;
        var period = _.clone(this.periods[index]);
        this.splice('periods', index, 1);
        this.splice('periods', index - 1, 0, period);
      },

      moveDown: function(e) {
        if (e.detail >= this.periods.length - 1) return console.log('skipping up');
        var index = e.detail;
        var period = _.clone(this.periods[index]);
        this.splice('periods', index, 1);
        this.splice('periods', index + 1, 0, period);
      },

      delete: function(e) {
        this.splice('periods', e.detail, 1);
      },

      updatePeriodHandler: function(e) {
        var period = e.detail.period;
        var target = e.target;
        period.select = target.select.bind(target);
        period.deselect = target.deselect.bind(target);
        this.updatePeriod(e.detail.index, period);
      },

      // Functions
      addWork: function() {
        this.addPeriod('work');
      },

      addRest: function() {
        this.addPeriod('rest');
      },

      addStopwatch: function() {
        this.addPeriod('stopwatch');
      },

      addPeriod: function(type) {
        this.push('periods', this.getPeriodDefault(type, true));
        setTimeout(function() {
          this.fire('scrollIntoView', this.$.buttons);  
        }.bind(this), 750);
      },

      updatePeriod: function(index, period) {
        setTimeout(function() {
          this.splice('periods', index, 1, period);  
        }.bind(this));
      },

      clearSelected: function() {
        this.periods.forEach(function(period, index) {
          if (period.selected) {
            period.deselect();
            period.selected = false;
            this.updatePeriod(index, period);  
          }
        }.bind(this));
      },

      duplicateSelected: function(e) {
        this.periods.forEach(function(period, index) {
          if (period.selected) this.push('periods', this.periodsStorage[index]);
        }.bind(this));
        this.clearSelected();
        setTimeout(function() {
          this.$.buttons.scrollIntoView({behavior: 'smooth'});  
        }.bind(this));
      },

      deleteSelected: function() {
        this.periods.forEach(function(period, index) {
          if (period.selected) this.splice('periods', index, 1);
        }.bind(this));
        this.clearSelected();
      }

    });
  </script>
</dom-module>