<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-styles/shadow.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">

<link rel="import" href="../shared-styles.html">
<link rel="import" href="../color-wheel.html">
<link rel="import" href="../timer-behavior/timer-defaults.html">
<link rel="import" href="../datastores/quiver-store-behavior.html">
<link rel="import" href="../digital-clock/digital-clock.html">
<link rel="import" href="../configure-period/configure-period.html">

<script src="../third-party/lodash.custom.min.js"></script>

<dom-module id="configure-view">
  <template>
    <style include="shared-styles color-wheel">
      :host {
        display: block;
        --paper-fab-background: var(--primary-color);
      }

      #periods-wrapper {
        position: relative;
        @apply(--shadow-elevation-2dp);
      }

      #timer-description {
        margin-left: 10px;
      }
    </style>

<app-route route="{{localRoute}}" pattern="/:timerKey" data="{{routeData}}" tail="{{subroute}}"></app-route>

<div id="top-title" class="layout vertical">
  <h3 id="title" on-click="editName">[[timerName]]</h3>
  <digital-clock id="totalSeconds" total-seconds="[[totalSeconds]]"></digital-clock>
  <template is="dom-if" if="[[owned]]">
    <paper-toggle-button id="private" checked="{{private}}">Make Private</paper-toggle-button>
  </template>  
</div>



<div style="margin-left: 10px;">
  <marked-element markdown="[[timerDescription]]" on-click="editDescription"></marked-element>  
</div>

<div style="padding: 0rem 1rem 6rem;">
<div id="periods-wrapper">
  <paper-fab id="top-fab" icon="save" on-click="save"></paper-fab>
  <template id="periods" is="dom-repeat" items="{{periods}}" as="period">
    <configure-period class="divided" period="{{period}}" selected="[[period.selected]]" on-period-updated="updatePeriodHandler" index="[[index]]"
      periods-count="[[periods.length]]"></configure-period>
  </template>
</div>
<div class="layout horizontal end-justified" style="padding: 30px 24px;" hidden$="[[!showSelectAll]]">
<paper-checkbox id="toggleCheckbox" on-checked-changed="toggleSelectAll"></paper-checkbox>
</div>
</div>
</template>
<script>
  var newTimerName = QuiverStoreDefaults.state.editing.name;
  var newTimerDescription = QuiverStoreDefaults.state.editing.description;
  Polymer({
    is: "configure-view",

    behaviors: [TimerDefaults, QuiverStoreBehavior],

    properties: {
      localRoute: Object,
      session: String,
      title: {
        type: String,
        statePath: 'editing.name'
      },
      timerKey: {
        type: String,
        computed: '_timerKey(routeData.timerKey)'
      },
      timers: {
        type: Array,
        statePath: 'timers'
      },
      timerName: {
        type: String,
        statePath: 'editing.name'
      },
      timerDescription: {
        type: String,
        statePath: 'editing.description'
      },
      private: {
        type: Boolean,
        statePath: 'editing.private'
      },
      owned: {
        type: Boolean,
        statePath: 'editing.owned'
      },
      periods: {
        type: Array,
        statePath: 'editing.periods'
      },
      totalSeconds: {
        type: Number,
        computed: '_totalSeconds(periods)'
      },
      selected: {
        type: Array,
        value: [],
        notify: true
      },
      bulk: {
        type: Boolean,
        computed: '_bulk(periods)',
        notify: true
      },
      sheetPayload: {
        type: Object,
        notify: true
      },
      ready: {
        type: Boolean,
        value: false  
      },
      showSelectAll: {
        type: Boolean,
        computed: '_showSelectAll(periods.length)'
      }
    },

    attached: function () {
      this.sheetPayload = this._sheetPayload();
      this.ready = true;
    },

    actions: {
      addPeriod: function(type) {
        return {
          type: 'addPeriod',
          periodType: type
        };
      },
      clearSelected: function() {
        return {
          type: 'clearSelected'
        };
      },
      deleteSelected: function() {
        return {
          type: 'deleteSelected'
        };
      },
      dispatch: function(type) {
        return {
          type: type
        };
      },
      duplicatePeriods: function(periods) {
        return {
          type: 'duplicatePeriods',
          periods: periods
        };
      },
      selectAll: function() {
        return {
          type: 'selectAll'
        };
      },
      updateValue: function(type, value) {
        return {
          type: type,
          value: value
        };
      },
      updatePeriod: function(index, period) {
        return {
          type: 'updatePeriod',
          index: index,
          period: period
        }; 
      },
      deletePeriod: function(index) {
        return {
          type: 'deletePeriod',
          index: index
        }; 
      },
      moveUp: function(index) {
        return {
          type: 'movePeriodUp',
          index: index
        }
      },
      moveDown: function(index) {
        return {
          type: 'movePeriodDown',
          index: index
        }
      }
    },

    // Observers
    observers: [
      '_setEditing(ready, routeData.timerKey)',
      '_private(ready, private)'
    ],

    _setEditing: function (ready, timerKey) {
      var timer = this.timers[timerKey];
      if (ready && timer) {
        setTimeout(function() {
          this.dispatch('updateValue', 'updateKey', timer.$key);
          this.dispatch('updateValue', 'updateName', timer.name);
          this.dispatch('updateValue', 'updateDescription', timer.description || QuiverStoreDefaults.state.editing.description);
          this.dispatch('updateValue', 'updatePeriods', timer.periods);
          this.dispatch('updateValue', 'updateOwned', timer.owned || false);
          this.dispatch('updateValue', 'updatePrivate', timer.private);
        }.bind(this));
      }
    },

    _private: function(ready, private) {
      if (ready && private !== this.store.getState().editing.private) {
        setTimeout(function() {
          this.dispatch('updateValue', 'updatePrivate', private);  
        }.bind(this));
      }
    },

    _title: function (name) {
      return name;
    },

    _timerKey: function (timerKey) {
      return timerKey;
    },

    _value: function (value) {
      return value;
    },

    _timerName: function (value) {
      return value || newTimerName;
    },

    _timerDescription: function (value) {
      return value || newTimerDescription;
    },

    _totalSeconds: function (periods) {
      return !periods ? 0 : periods.reduce(function (seconds, period) {
        return seconds + period.totalSeconds;
      }, 0);
    },

    _bulk: function (periods) {
      return !periods ? false : !!periods.find(function (period) {
        return period.selected;
      });
    },

    _sheetPayload: function () {
      return {
        cancel: this.clearSelected.bind(this),
        duplicate: this.duplicateSelected.bind(this),
        delete: this.deleteSelected.bind(this),
        addWork: this.addWork.bind(this),
        addRest: this.addRest.bind(this),
        addStopwatch: this.addStopwatch.bind(this),
      };
    },

    _showSelectAll: function (i) {
      return i > 2;
    },

    // Listeners
    listeners: {
      moveUp: 'moveUp',
      moveDown: 'moveDown',
      delete: 'delete',
      select: 'select'
    },

    moveUp: function (e) {
      this.dispatch('moveUp', e.detail.index);
    },

    moveDown: function (e) {
      this.dispatch('moveDown', e.detail.index);
    },

    delete: function (e) {
      this.dispatch('deletePeriod', +e.detail);
    },

    updatePeriodHandler: function (e) {
      var period = _.clone(e.detail.period);
      var target = e.target;
      if (e.detail.refresh) {
        this.updatePeriod(e.detail.index, period);
      } else {
        this.periods[e.detail.index] = period;
      }
    },

    toggleSelectAll: function (e) {
      return e.target.checked ? this.selectAll() : setTimeout(this.clearSelected.bind(this));
    },

    // Functions
    _cleanPeriod: function (period) {
      return _.clone(period);
    },

    save: function () {
      this.dispatch('updateValue', 'updateTimer', this.timerKey);
      this.dispatch('updateValue', 'resetEditing');
      this.fire('redirect', '/timers');  
    },

    editName: function () {
      this.fire('openDialog', {
        id: 'itemNameDialog',
        name: this.timerName,
        callback: function (name) {
          this.dispatch('updateValue', 'updateName', name);
        }.bind(this)
      });
    },

    editDescription: function () {
      this.fire('openDialog', {
        id: 'itemDescriptionDialog',
        description: this.timerDescription == newTimerDescription ? '' : this.timerDescription,
        callback: function (description) {
          this.dispatch('updateValue', 'updateDescription', description);
        }.bind(this)
      });
    },

    addWork: function () {
      this.addPeriod('work');
    },

    addRest: function () {  
      this.addPeriod('rest');
    },

    addStopwatch: function () {
      this.addPeriod('stopwatch');
    },

    addPeriod: function (type) {
      this.dispatch('addPeriod', type);
    },

    updatePeriod: function (index, period) {
      this.dispatch('updatePeriod', index, period);
    },

    selectAll: function () {
      this.dispatch('selectAll');
    },

    clearSelected: _.debounce(function () {
      this.dispatch('clearSelected');
      
      this.$.toggleCheckbox.set('checked', false);
    }, 50),

    duplicateSelected: function (e) {
      this.dispatch('duplicatePeriods', this.periods.filter(function(period) {
        return period.selected;
      }));
      this.clearSelected();
    },

    deleteSelected: function () {
      this.dispatch('deleteSelected');
      this.clearSelected();
    },

  });
</script>
</dom-module>