<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="content-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }

      .markdown-html > h1 {
        text-align: center;
        font-family: Brothers;
        margin-top: -2.75rem;
      }

      .markdown-html table {
        width: 100%;
        border-collapse: collapse;
        margin: 2rem 0 1rem;
      }

      .markdown-html td {
        padding: .5rem;
      }

      .markdown-html tr:nth-child(even) {
          background-color: var(--color-rich-black);
      }

      /*.markdown-html tr:nth-child(odd) {
          background-color: var(--color-metallic-seaweed);
      }*/

      
    </style>

    <app-route id="route" route="{{route}}" pattern="/:page" data="{{routeData}}"></app-route>
    <iron-ajax auto url="[[contentUrl]]" handle-as="text" last-response="{{res}}"></iron-ajax>
    
    <marked-element markdown="[[markdown]]">
      <div class="markdown-html"></div>
    </marked-element>

  </template>
  <script>
    Polymer({
       is: "content-view",

       properties: {
         route: Object,
         page: {
           type: String,
           computed: '_page(routeData.page)'
         },
         contentUrl: {
           type: String,
           computed: '_contentUrl(page, route.prefix)'
         },
         markdown: {
           type: String,
           computed: '_markdown(res)'
         }
       },

       // Observers
       _page: function (page) {
        return page;
       },

       _contentUrl: function (page, prefix) {
         return prefix != '/content' ? this.contentUrl : '../src/markdown/' + page + '.md';
       },

       _markdown: function (markdown) {
         return markdown || "# 404 \n ## Page not found :( \n [Head back to the ranch](/)";
       }
    });
  </script>
</dom-module>