<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../font-fill/font-fill.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="landing-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }

      .top {
        height: 25vh;
        @apply(--layout-vertical);
        @apply(--layout-center-justified);
      }

      .bottom {
        height: 25vh;
        @apply(--layout-vertical);
        @apply(--layout-end-justified);
      }

      .third {
        height: 33vh;
      }

      .half {
        height: 50vh;
      }

      h1 {
        font-size: 15vw;
        line-height: 15vw;
        margin: 0;
        text-align: center;
      }

      h3 {
        font-family: Brothers;
        font-size: 8vw;
        text-align: center;
        margin: 1rem 0 0;
      }

      hr {
        width: 100%;
        margin: 2rem 0 1rem;
        border-width: 1px 0 0 0;
      }

      p {
        text-align: center;
      }

      table {
        margin: 1rem;
      }

      .subhead {
        margin: 0;
        text-align: center;
      }
      
      iframe {
        margin-bottom: 2rem;
        max-width: calc(100% - 2rem);
      }
      
      .icon {
        @apply(--layout-vertical);
        @apply(--layout-center-justified);
      }

      .icon iron-icon {
        width: 50vw;
        height: 50vh;
      }
      aside {
        text-align: center;
      }

      img {
        max-width: calc(100% - 2rem);
        margin: 1rem auto;
      }

      .pixel-mockup img {
        position: relative;
        top: 75px;
        left: 20px;
        width: calc(100% - 41px);
        min-width: 315px;
        padding-bottom: 138px;
        margin: inherit;
      }
      
      .pixel-mockup {
        background-image: url('/images/pixel-mockup.png');
        background-size: cover;
        max-width: calc(100vw - 2rem);
        position: relative;
        overflow: hidden;
      }

      ul.paragraph-width {
        list-style: none;
        padding: 0;
        max-width: calc(100% - 4rem);
      }
    </style>
    <div class="layout vertical center">
      <div class="top third layout ">
        <h1>HiiT Clock</h1>
        <h4 class="subhead">🔥 The Baddest Interval Timer 🔥</h4>  
      </div>
      <a class="icon third" href="/timers">
        <iron-icon icon="av:play-circle-outline"></iron-icon>
      </a>
      <div class="bottom third">
        <span>Click to start ☝️</span>  
      </div>
      
      <hr>
      <h3 style="margin-bottom: 1rem;">Optimized for Phones</h3>
      <div class="pixel-mockup">
        <img src="/images/playing-vertical.gif" alt="HiiT Clock in action">
      </div>

      <hr>
      <h3>Use your TV</h3>
      <p>
        Cast to Chromecast with Android. Other devices can use a mirrored web page to send the timer to a web-connected television.
      </p>
      <img src="/images/tv-mockup.png" alt="Cast HiiT Clock to your TV">
      <!--<iframe src="//giphy.com/embed/8yi5MTYV3lVde" width="480" height="395" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>-->
      
      <hr>
      <h3>HiiT / Tabata</h3>
      <p>
        Keep close track of your <strong>High-Intensity Interval Training</strong>. Set up any combination of work and rest periods. Stay in Beast Mode. 🚴🏻 🚴🏻 🚴🏻
      </p>
      
      <hr>
      <h3>Body Building & Powerlifting</h3>
      <p>
        Need to carefully control your work/rest periods? HiiT Clock makes it so easy, you'll wonder how you survived without it. 💪🏻💪🏻💪🏻           
      </p>

      <hr>
      <h3>Circuit Training</h3>
      <p>
        Program complicated circuits and stay on track with beeps in your headphones and on-screen reminders. 
      </p>

      <hr>
      <h3>Crossfit</h3>
      <p>
        Still remember how many push-press reps to hit on the second round of your 20-minute AMRAP? Of course not! Build out your WOD with HiiT Clock. Less thinking. More puking :) 🏋🏋🏋
      </p>

      <hr>
      <h3>Advanced Features</h3>
      <p>
        Check out our <a href="/content/features">full feature list</a>. It's pretty crazy.
      </p>
      <table>
        <thead>
          <tr>
            <th style="text-align:left"></th>
            <th style="text-align:center">iOS</th>
            <th style="text-align:center">Android</th>
            <th style="text-align:center">Chrome</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align:left">Logged-in Mode</td>
            <td style="text-align:center">👍</td>
            <td style="text-align:center">👍</td>
            <td style="text-align:center">👍</td>
          </tr>
          <tr>
            <td style="text-align:left">Guest Mode</td>
            <td style="text-align:center">👍</td>
            <td style="text-align:center">👍</td>
            <td style="text-align:center">👍</td>
          </tr>
          <tr>
            <td style="text-align:left">Native app</td>
            <td style="text-align:center">💩</td>
            <td style="text-align:center">👍</td>
            <td style="text-align:center"></td>
          </tr>
          <tr>
            <td style="text-align:left">Chromecast</td>
            <td style="text-align:center">💩</td>
            <td style="text-align:center">👍</td>
            <td style="text-align:center">👍</td>
          </tr>
          <tr>
            <td style="text-align:left">Apple AirPlay</td>
            <td style="text-align:center">👍</td>
            <td style="text-align:center">💩</td>
            <td style="text-align:center">👍</td>
          </tr>
          <tr>
            <td style="text-align:left">Share active timers</td>
            <td style="text-align:center">👍</td>
            <td style="text-align:center">👍</td>
            <td style="text-align:center">👍</td>
          </tr>
          <tr>
            <td style="text-align:left">Background sound alerts</td>
            <td style="text-align:center">💩</td>
            <td style="text-align:center">👍</td>
            <td style="text-align:center">👍</td>
          </tr>
          <tr>
            <td style="text-align:left">Foreground sound alerts</td>
            <td style="text-align:center">👍</td>
            <td style="text-align:center">👍</td>
            <td style="text-align:center">👍</td>
          </tr>
          <tr>
            <td style="text-align:left">Screen flash alerts</td>
            <td style="text-align:center">👍</td>
            <td style="text-align:center">👍</td>
            <td style="text-align:center">👍</td>
          </tr>
          <tr>
            <td style="text-align:left">Shareable timers</td>
            <td style="text-align:center">👍</td>
            <td style="text-align:center">👍</td>
            <td style="text-align:center">👍</td>
          </tr>
        </tbody>
      </table>

      <hr>
      <ul class="paragraph-width layout horizontal justified wrap">
        <li>
          <a class="unstyled" href="/content/features">Features</a>
        </li>
        <li>
          <a class="unstyled" href="/content/about">About</a>
        </li>
        <li>
          <a class="unstyled" href="/content/policies">Policies</a>
        </li>
        <li>
          <a class="unstyled" href="/content/contact">Contact</a>
        </li>
        <li>
          <a class="unstyled" href="/public/">Public Timers</a>
        </li>
      </ul>
      
    </div>
    
  </template>
  <script>
    Polymer({
       is: "landing-view",
    });
  </script>
</dom-module>