<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="../views/timer-view.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="public-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
    </style>

    <app-route route="{{route}}" pattern="/:key" data="{{routeData}}"></app-route>

    <timer-view id="timerView" timers="[[timers]]" local-route="[[route]]" firebase="[[firebase]]" timer-endpoint="[[timerEndpoint]]" casting="false"></timer-view>
  </template>
  <script>
    Polymer({
       is: "public-view",

       properties: {
         firebase: Object,
         model: Object,
         route: Object,
         routeData: Object,
         key: {
           type: String,
           computed: '_key(routeData.key)'
         },
         timerEndpoint: {
           type: String,
           computed: '_timerEndpoint(model, key)'
         },
         timerRef: {
          type: Object,
          computed: '_timerRef(firebase, timerEndpoint)'
         },
         timers: {
           type: Array,
           value: []
         }
       },

       // Observers
       observers: ['_timer(timerRef)'],

       _key: function(key) {
         return key;
       },

       _timerEndpoint: function(model, key) {
         return model.admin.search.timers + '/' + key;
       },

       _timerRef: function(firebase, timerEndpoint) {
         return firebase.database().ref(timerEndpoint);
       },

       _timer: function(timerRef) {
         return timerRef.once('value')
          .then(function(snap) {
            var timer = snap.val();
            timer.$key = snap.key;
            this.splice('timers', 0, 1, timer);
          }.bind(this));
       }
    });
  </script>
</dom-module>