<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="../views/timer-view.html">
<link rel="import" href="../search/timer-search.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="public-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }

      .title {
        text-decoration: none;
      }

      timer-search {
        width: 100%;
      }
      
      p {
        width: 50vw;
        text-align: center;
      }


    </style>

<app-route route="{{route}}" pattern="/:key" data="{{routeData}}"></app-route>

<div class="layout vertical center" hidden="[[!showSearch]]">
  <a class="title" href="/">
    <h1>HiiT Clock</h1>
  </a>
  <p>
    Search the HiiT Clock public timers.
  </p>
  <timer-search id="timerSearch" env="[[env]]" default-all></timer-search>
</div>

<timer-view id="timerView" hidden$="[[showSearch]]" timers="[[timers]]" local-route="[[route]]" firebase="[[firebase]]" timer-endpoint="[[timerEndpoint]]"
  casting="false" account="[[account]]"></timer-view>
</template>
<script>
  Polymer({
    is: "public-view",

    properties: {
      env: Object,
      firebase: Object,
      model: Object,
      route: Object,
      routeData: Object,
      account: Object,
      key: {
        type: String,
        computed: '_key(routeData.key)'
      },
      showSearch: {
        type: Boolean,
        computed: '_showSearch(key)'
      },
      timerEndpoint: {
        type: String,
        computed: '_timerEndpoint(model, key)'
      },
      timerRef: {
        type: Object,
        computed: '_timerRef(firebase, timerEndpoint)'
      },
      timers: {
        type: Array,
        value: []
      }
    },

    // Observers
    observers: ['_timer(timerRef)'],

    _key: function (key) {
      return key;
    },

    _showSearch: function (key) {
      if (!key) {
        this.$.timerSearch.setSearchTerm('');
      }
      return !key;
    },

    _timerEndpoint: function (model, key) {
      return model.admin.search.timers + '/' + key;
    },

    _timerRef: function (firebase, timerEndpoint) {
      return firebase.database().ref(timerEndpoint);
    },

    _timer: function (timerRef) {
      return timerRef.once('value')
        .then(function (snap) {
          var timer = snap.val();
          timer.$key = snap.key;
          this.splice('timers', 0, 1, timer);
          this.fire('metadata', {
            key: 'description',
            value: timer.description || timer.name
          });
        }.bind(this));
    }
  });
</script>
</dom-module>