<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/app-pouchdb/app-pouchdb-document.html">
<link rel="import" href="../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">

<link rel="import" href="../shared-styles.html">
<link rel="import" href="../color-wheel.html">
<link rel="import" href="../digital-clock/digital-clock.html">
<link rel="import" href="../timer-state/timer-stopped.html">
<link rel="import" href="../timer-state/timer-playing.html">
<link rel="import" href="../timer-state/timer-paused.html">

<script src="../../bower_components/timer.js/dist/timer.min.js"></script>

<dom-module id="timer-view">
  <template>
    <style include="shared-styles color-wheel">
      :host {
        display: block;
      }
      
      #wrapper .show-stopped {
        display: none;
      }
      
      #wrapper .show-paused {
        display: none;
      }
      
      #wrapper .show-playing {
        display: none;
      }
      
      #wrapper[state="stopped"] .show-stopped {
        display: inherit;
      }
      
      #wrapper[state="paused"] .show-paused {
        display: inherit;
      }
      
      #wrapper[state="playing"] .show-playing {
        display: inherit;
      }
    </style>

    <app-route route="{{localRoute}}" pattern="/:timerKey" data="{{routeData}}" tail="{{subroute}}"></app-route>
    <app-route route="{{subroute}}" pattern="/:state" data="{{subrouteData}}"></app-route>
    <app-pouchdb-document id="timersStorage" db-name="quiver-timer" doc-id="timers" data="{{timersData}}"></app-pouchdb-document>

    <iron-pages selected="[[page]]" attr-for-selected="name" fallback-selection="stopped" role="main">
      <timer-stopped id="timerStopped" name="stopped" timer-key="[[timerKey]]" timer="[[timer]]"></timer-stopped>
      <timer-playing id="timerPlaying" name="playing" state="[[state]]" timer-key="[[timerKey]]" seconds="[[seconds]]" periods="[[workingPeriods]]"></timer-playing>
    </iron-pages>
  </template>
  <script>
    Polymer({
       is: "timer-view",

       properties: {
         localRoute: Object,
         timerKey: {
           type: Number,
           computed: '_timerKey(routeData.timerKey)'
         },
         timersData: Object,
         timer: {
           type: Object,
           computed: '_timer(timerKey, timersData.value)'
         },
         state: {
           type: String,
           computed: '_state(subrouteData)'
         },
         clock: {
           type: Object,
           value: function() {
             return new Timer({
               tick: 1,
               ontick: this.tickHandler.bind(this),
              //  onstop: function() {
              //    console.log('timer stopped');
              //  },
              //  onstart: function() {
              //    console.log('timer started');
              //  }
             });
           }
         },
         seconds: Number,
         workingPeriods: {
           type: Array,
           value: []
         }
       },

       //  Observers
       observers: [
         '_timerFab(state)',
         '_clock(state, timer.periods, clock)',
         '_workingPeriods(workingPeriods, timer.periods)'
       ],

       _timerFab: function(state) {
         switch (true) {
           case state == 'playing':
              this.page = 'playing';
              this.play();
              break;
           case state == 'paused':
              this.page = 'playing';
              this.pause();
              break;
           case state == 'stopped':
              this.page = 'stopped';
              this.stop();
              break;
         }
       },

       _clock: function(state, periods, clock) {
         if (state == 'paused') {
           clock.pause();
         } else if (state == 'stopped') {
           clock.stop();
         } else if (state == 'playing') {
           if (clock.getDuration()) {
             clock.start();
           } else {
             clock.start(this.getTotalSeconds(periods) + 1);
           }
         }
       },

       _timerKey: function(timerKey) {
         return +timerKey;
       },

       _state: function(subrouteData) {
         return subrouteData.state || 'stopped';
       },

       _timer: function(timerKey, timers) {
         var timer = timers[timerKey];
         if (timer && timer.periods) {
           timer.periods = timer.periods.map(function(period, i) {
             return period.color = Math.round(i/18%1*18), period;  
           });
         }
         return timer;
       },

       _workingPeriods: function(workingPeriods, periods) {
         if (periods) {
           this.splice.apply(this, ['workingPeriods', 0, this.workingPeriods.length].concat(_.cloneDeep(periods)));
         }
       },

       //Listeners
       listeners: {
         play: 'play',
         pause: 'pause',
         stop: 'stop',
         previous: 'previous',
         next: 'next',
         refresh: 'refresh'
       },

       play: function() {
         this.state = 'playing';
         this.fire('timerFab');
         this.fire('testSound');
       },

       pause: function() {
         this.state = 'paused';
         this.fire('timerFab');
        //  this.fire('timerFab', {
        //    icon: 'av:play-arrow',
        //    url: '/timer/' + this.timerKey + '/playing'
        //  });
       },

       stop: function() {
         this.state = 'stopped';
         this.fire('timerFab', {
           icon: 'av:play-arrow',
           url: '/timer/' + this.timerKey + '/playing'
         });
         this.refresh();
       },

       previous: function() {
         var i = this.getPeriodIndex();
         var remaining = this.getTotalSeconds(this.getRemainingPeriods(i));
         var current = this.getPeriod(i).totalSeconds;
         var s = remaining + current;
         var diff = s - this.seconds;
         var currentPeriodIndex = i; 
         
         if (diff < 5 && i) {
           currentPeriodIndex = i - 1;
           
           // Reset stopwatches
           if (i > 0 && this.workingPeriods[currentPeriodIndex].type == 'stopwatch') {
             this.workingPeriods[currentPeriodIndex].totalSeconds = this.timer.periods[currentPeriodIndex].totalSeconds;
           }

           s = Math.min(this.workingPeriods.seconds, s + this.workingPeriods[i - 1].totalSeconds);
         }
         s = Math.min(s, this.workingPeriods.seconds);
         this.seconds = s;
         this.clock.stop();
         this.clock.start(this.seconds);
       },

       next: function() {
         var periodIndex = this.getPeriodIndex();
         var period = this.getPeriod(periodIndex);
         var remainingSeconds = this.getTotalSeconds(this.getRemainingPeriods()); 
         

         if (period.type == 'stopwatch') {
           this.workingPeriods[periodIndex].totalSeconds = period.totalSeconds - (this.seconds - remainingSeconds); 
         }

         this.seconds = remainingSeconds;
         this.clock.stop();
         this.clock.start(this.seconds);
       },

       refresh: function() {
         var s = this.getTotalSeconds();
         this.clock.stop();
         if (s) this.seconds = s;
       },

       tickHandler: function(ms) {
         this.seconds = Math.round(ms/1000) - 1;
       },

       // Functions
       getTotalSeconds: function(periods) {
         return (periods || this.workingPeriods).reduce(function(s, p) {
           return s + p.totalSeconds;
         }, 0);
       },

       getPeriodIndex: function() {
         var seconds = this.seconds;
         var i = this.workingPeriods.length;
         while (i--) {
           seconds -= this.workingPeriods[i].totalSeconds;
           if (seconds <= 0) break;
         }
         return i;
       },

       getPeriod: function(i) {
         return this.workingPeriods[typeof i == 'undefined' ? this.getPeriodIndex() : i];
       },

       getRemainingPeriods: function(i) {
         return this.workingPeriods.slice((typeof i == 'undefined' ? this.getPeriodIndex() : i) + 1);
       }
    });
  </script>
</dom-module>