<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">

<link rel="import" href="../shared-styles.html">
<link rel="import" href="../color-wheel.html">
<link rel="import" href="../timer-state/timer-stopped.html">
<link rel="import" href="../timer-state/timer-playing.html">
<link rel="import" href="../datastores/quiver-store-behavior.html">

<script src="../../bower_components/timer.js/dist/timer.min.js"></script>

<dom-module id="timer-view">
  <template>
    <style include="shared-styles color-wheel">
      :host {
        display: block;
      }
      
      #wrapper .show-stopped {
        display: none;
      }
      
      #wrapper .show-paused {
        display: none;
      }
      
      #wrapper .show-playing {
        display: none;
      }
      
      #wrapper[state="stopped"] .show-stopped {
        display: inherit;
      }
      
      #wrapper[state="paused"] .show-paused {
        display: inherit;
      }
      
      #wrapper[state="playing"] .show-playing {
        display: inherit;
      }
    </style>

<app-route route="{{localRoute}}" pattern="/:timerKey" data="{{routeData}}" tail="{{subroute}}"></app-route>
<app-route route="{{subroute}}" pattern="/:state" data="{{subrouteData}}"></app-route>

<iron-pages selected="[[page]]" attr-for-selected="name" fallback-selection="stopped" role="main">
  <timer-stopped id="timerStopped" name="stopped" prefix="[[prefix]]" timer-key="[[timerKey]]" timer="[[timer]]"></timer-stopped>
  <timer-playing id="timerPlaying" name="playing" prefix="[[prefix]]" state="[[state]]" timer-key="[[timerKey]]" seconds="[[seconds]]" periods="[[workingPeriods]]" slug="[[timer.slug]]"></timer-playing>
</iron-pages>
</template>
<script>
  Polymer({
    is: "timer-view",

    behaviors: [QuiverColorWheel, QuiverStoreBehavior],

    properties: {
      localRoute: Object,
      firebase: Object,
      timerEndpoint: String,
      casting: {
        type: Boolean,
        value: false
      },
      account: Object,
      ref: {
        type: Object,
        computed: '_ref(firebase, timerEndpoint)'
      },
      prefix: {
        type: String,
        computed: '_prefix(localRoute.prefix)'
      },
      timerKey: {
        type: Number,
        computed: '_timerKey(routeData.timerKey)'
      },
      timers: {
        type: Array,
        value: []
      },
      timer: {
        type: Object,
        computed: '_timer(timerKey, timers)'
      },
      state: {
        type: String,
        computed: '_state(prefix, subrouteData)'
      },
      clock: {
        type: Object,
        value: function () {
          return new Timer({
            tick: 1,
            ontick: this.tickHandler.bind(this),
            //  onstop: function() {
            //    console.log('timer stopped');
            //  },
            //  onstart: function() {
            //    console.log('timer started');
            //  }
          });
        }
      },
      seconds: {
        type: Number,
        value: 0
      },
      laggedSeconds: {
        type: Number
      },
      workingPeriods: {
        type: Array,
        value: []
      }
    },

    //  Observers
    observers: [
      '_timerFab(state)',
      '_clock(state, timer.periods, clock)',
      '_workingPeriods(workingPeriods, timer.periods)',
      '_end(seconds, laggedSeconds, state)',
      '_firebase(ref, state, seconds, workingPeriods, timer, workingPeriods.splices)'
    ],

    _timerFab: function (state) {
      switch (true) {
        case state == 'playing':
          this.page = 'playing';
          this.play();
          break;
        case state == 'paused':
          this.page = 'playing';
          this.pause();
          break;
        case state == 'stopped':
          this.page = 'stopped';
          this.stop();
          break;
      }
    },

    _clock: function (state, periods, clock) {
      if (state == 'paused') {
        clock.pause();
      } else if (state == 'stopped') {
        clock.stop();
      } else if (state == 'playing') {
        if (clock.getDuration()) {
          clock.start();
        } else {
          clock.start(this.getTotalSeconds(periods) + 1);
        }
      }
    },

    _ref: function (firebase, timerEndpoint) {
      return firebase.database().ref(timerEndpoint);
    },

    _prefix: function(prefix) {
      return prefix;
    },

    _timerKey: function (timerKey) {
      return timerKey;
    },

    _state: function (prefix, subrouteData) {
      if (prefix !== '/timer' && prefix !== '/public') return this.subrouteData.state = 'stopped';
      return subrouteData.state || 'stopped';
    },

    _timer: function (timerKey, timers) {
      var timer = timers.find(function(timer) {
        return timer.$key == timerKey;
      });
      var prepareColor = this.prepareColor;
      var colors = {
        work: this.workColors.slice(0),
        rest: this.restColors.slice(0),
        stopwatch: this.stopwatchColors.slice(0)
      };
      if (timer && timer.periods) {
        timer.periods = timer.periods.map(function (period, i) {
          if (period.type == 'prepare') {
            period.color = prepareColor
          } else {
            var list = colors[period.type];
            period.color = list.shift();
            list.push(period.color);
          }
          return period;
        });
      }
      this.fire('cast', {
        timer: timer
      });
      return timer;
    },

    _workingPeriods: function (workingPeriods, periods) {
      if (periods) {
        this.splice.apply(this, ['workingPeriods', 0, this.workingPeriods.length].concat(_.cloneDeep(periods)));
      }
    },

    _end: function (seconds, laggedSeconds, state) {
      if (seconds == 0 && laggedSeconds && state == 'playing') {
        this.pause();
      }
    },

    _firebase: function (ref, state, seconds, workingPeriods, timer) {
      this.fire('cast', {
        state: state,
        seconds: seconds,
        periods: workingPeriods,
        timer: timer
      });

      if (this.casting && this.account) {
        ref.update({
          state: state,
          seconds: seconds,
          periods: workingPeriods
        });
      }
    },

    //Listeners
    listeners: {
      play: 'play',
      pause: 'pause',
      stop: 'stop',
      previous: 'previous',
      next: 'next',
      refresh: 'refresh',
      forward: 'forward',
      replay: 'replay'
    },

    play: function () {
      if (!this.state == 'playing') return;

      if (!this.seconds) {
        this.seconds = this.getTotalSeconds(this.workingPeriods);
      }

      this.state = 'playing';
      if (!this.localRoute.path.match(/playing/)) {
        var slug = this.timer && this.timer.slug ? this.timer.slug : '';
        this.fire('redirect', this.prefix + '/' + this.timerKey + '/playing/' + slug);
      }
      this.fire('testSound');
    },

    pause: function () {
      var slug = this.timer && this.timer.slug ? this.timer.slug : '';
      this.state = 'paused'; // Set to avoid sync issues from upstream
      this.fire('redirect', this.prefix + '/' + this.timerKey + '/paused/' + slug);
    },

    stop: function () {
      this.state = 'stopped';
      this.refresh();
    },

    previous: function () {
      var i = this.getPeriodIndex();
      var remaining = this.getTotalSeconds(this.getRemainingPeriods(i));
      var current = this.getPeriod(i).totalSeconds;
      var s = remaining + current;
      var diff = s - this.seconds;
      var currentPeriodIndex = i;

      if (diff < 5 && i) {
        currentPeriodIndex = i - 1;

        // Reset stopwatches
        if (i > 0 && this.workingPeriods[currentPeriodIndex].type == 'stopwatch') {
          this.workingPeriods[currentPeriodIndex].totalSeconds = this.timer.periods[currentPeriodIndex].totalSeconds;
        }

        s = Math.min(this.workingPeriods.seconds, s + this.workingPeriods[i - 1].totalSeconds);
      }
      s = Math.min(s, this.workingPeriods.seconds);
      this.seconds = s;
      this.clock.stop();
      this.clock.start(this.seconds);
    },

    next: function () {
      var periodIndex = this.getPeriodIndex();
      var period = this.getPeriod(periodIndex);
      var remainingSeconds = this.getTotalSeconds(this.getRemainingPeriods());


      if (period.type == 'stopwatch') {
        this.workingPeriods[periodIndex].totalSeconds = period.totalSeconds - (this.seconds - remainingSeconds);
      }

      this.seconds = remainingSeconds;
      this.clock.stop();
      this.clock.start(this.seconds);
    },

    refresh: function () {
      var s = this.getTotalSeconds();
      this.clock.stop();
      if (s) this.seconds = s;
    },

    forward: function() {
      this.addSeconds(-10);
    },

    replay: function() {
      this.addSeconds(10);
    },

    addSeconds: function(s) {
      var maxSeconds = this.getTotalSeconds(this.workingPeriods);
      this.seconds = Math.max(0, Math.min(maxSeconds, s + this.seconds));
      this.clock.stop();
      this.clock.start(this.seconds);
    },

    tickHandler: function (ms) {
      this.laggedSeconds = this.seconds;
      this.seconds = Math.round(ms / 1000) - 1;
    },

    // Functions
    getTotalSeconds: function (periods) {
      return (periods || this.workingPeriods).reduce(function (s, p) {
        return s + p.totalSeconds;
      }, 0);
    },

    getPeriodIndex: function () {
      var seconds = this.seconds;
      var i = this.workingPeriods.length;
      while (i--) {
        seconds -= this.workingPeriods[i].totalSeconds;
        if (seconds <= 0) break;
      }
      return i;
    },

    getPeriod: function (i) {
      return this.workingPeriods[typeof i == 'undefined' ? this.getPeriodIndex() : i];
    },

    getRemainingPeriods: function (i) {
      return this.workingPeriods.slice((typeof i == 'undefined' ? this.getPeriodIndex() : i) + 1);
    }
  });
</script>
</dom-module>